{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-success">
        Pomyślnie zakupiono kursy 
    </div>
{% endblock %}