{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        Już posiadasz któryś z kursów. Nie możesz go zakupić drugi raz.
    </div>
{% endblock %}