{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        Nie znaleziono takiego kursu
    </div>
{% endblock %}