{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="alert alert-danger">
            Access denied!!!
        </div>
    </div>
    <div class="col-md-1">
    </div>

{% endblock %}