{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-danger">
        Nie można usunąć kursu bez usunięcia odpowiedniego do niego zdjęcia w karuzeli!!!
    </div>
{% endblock %}