    <table class="table table-bordered table-hover text-center">
        <tr>
            <th>
                Nazwa użytkownika
            </th>   
            <th>
                Adres e-mail
            </th>
            <th>
                Opcje
            </th>
            {%for admin in admins %}
            <tr>
                <td>
                    {{admin.username}}
                </td>
                <td>
                    {{admin.email}}
                </td>
                <td>
                    <a class="btn btn-danger" href="/superadmin/delete/{{admin.id}}/">Usuń</a>
                </td>
            </tr>
        {%endfor%}
    </table>
