{%extends 'base.html.twig'%}
{%block body %}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#admin">Administratorzy</a></li>
        <li><a data-toggle="tab" href="#user">Użytkownicy</a></li>

    </ul>

    <div class="table tab-content" style="margin-top:10px">
        <div id="admin" class="tab-pane fade in active" style="margin-top: 10px;">
            {{ render(controller(
                'AppBundle:Admin:showSuperAdminAdmin'
                )) }}
        </div>
        <div id="user" class="tab-pane fade">
            {{ render(controller(
                'AppBundle:Admin:showSuperAdminUser'
                )) }}
        </div>
    </div>
{% endblock %}