{% extends "::base.html.twig" %}

{% block title %}AppBundle:Admin:showAdminPanel{% endblock %}

{% block body %}
    <a class="btn btn-primary" href="/admin/carousel/">Slider</a>
    <a class="btn btn-primary" href="/admin/course/">Kursy</a>
    <a class="btn btn-primary" href="/admin/movie/">Filmy</a>
{% endblock %}
