{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-success">
        Pomyślnie dodano do koszyka <a href="/profile#menu2">Przejdź do koszyka</a> || <a href="/course">Wróć do kursów</a>
    </div>
{% endblock %}