{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        W koszyku nie ma takiego kursu <a href="/profile#menu2">Przejdź do koszyka</a>
    </div>
{% endblock %}