{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-success">
        Usunięto z koszyka || <a href="/profile#menu2">Przejdż do koszyka</a>
    </div>
{% endblock %}