{% extends "::base.html.twig" %}

{% block title %}AppBundle:Points:addPoints{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        Ten produkt był już dodany wcześniej do koszyka <a href="/profile#menu2">Przejdź do koszyka</a>
    </div>
{% endblock %}